accelerate
tfrecord
six
numpy
psutil
javalang
submitit
dpu-utils
astunparse
stringcase
scikit-learn
torch
transformers
fairseq
tree_sitter
tensorboard
sentencepiece
tensorboardX
sacrebleu
tree-sitter
pytorch-lightning
openpyxl==3.0.10
XlsxWriter==3.0.3